.container {
  grid-template-columns: 100px auto 90px auto 50;
  grid-template-rows: 80px 30px auto 90px auto 130px;

}

/*------------------------------------------*/
/*nav bar, logo, search*/

.head{
  grid-column: 1 / 5;
  grid-row: 1 / 2;
}

.logo {
  float: left;
}

ul {
  list-style-type: none;
}

li {
  float: left;
}

li a {
  display: block;
  color: #516655;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.item-2 {
  grid-area: header;
  background-color: #2ef837;
}

/*------------------------------------------*/
/*right part at home screen*/

.home_left {
  
}